---
title: Woops! This page could not be found.
layout: base
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="not-found">
  <h1>404</h1>
  <p>Woops! This page was not found,  <a href="{{ '/' | url }}">Return home</a>.</p>
</div>
